body {
  background-color: black;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 8%);
  color: white;
  width: 25%;
  margin: 70px auto;
  border-radius: 20px;
  padding: 30px 20px;
}
